header{
    height: 12vh;
    width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

header h1{ 
    margin: auto auto auto 2%;
    width: 35%;
}

header h1 img{ 
    width: 50%;
}


header form{
    margin: auto 2% auto 3%;
}

header p{
    margin: auto 0 auto 0;
}

header i{
    margin: auto 0 auto 2%;
}

input{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(53, 53, 53, 0.486);
    color: white;
    padding: .25rem 1rem;
    border-radius: 2rem;
    position: relative;
}

input:focus{
    border: 1px solid #6670fc;
    background-color: rgba(53, 53, 53, 0.137);
}

button.searchSubmit{
    position: relative;
    right: 40px;
    outline: none;
    background-color: rgba(211, 211, 211, 0);
    border: none;
}