footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color:bisque;
}

footer ul{
    list-style: none;
    font         : bold 15px sans-serif;
}

footer ul li{
    margin-top: 0;
}