.show{
    display: block;
}

.containerFavCard {
    padding: 0.4%;
    margin-bottom: 30%;
    text-align: center;
    width: 120%;
    outline-color: #f36bff;
    outline-style: solid;
    color: #f36bff;
    font-weight: 300;
    
}
.hide{
    display: none;
}
.card-title {
    font: size 15px;;
    color: blue;
    font-weight: 130;
    margin-bottom: 20%;
}

.more{
    color: #fd2075;
}
.character-card{
    width: 20%;
    padding: 10%;
    font-family: "muli", Helvetica, sans-serif, sans-serif;
    text-align: center;
}
.character-card img{
    width: 120;
}
.character-card:hover,
.active{
box-shadow: 18rem 15rem 15px 9px rgb(0 0 0/ 25%);
}


.more:hover{
    text-decoration: underline;
    cursor: pointer;
}



