.show{
    display: block;
}

.containerFavCard {
    padding: 0.4%;
    margin-bottom: 25%;
    text-align: center;
    width: 45%;
    outline-color: #f36bff;
    outline-style: solid;
    color: #f36bff;
    font-weight: 300;
}
.hide{
    display: none;
}
.card-title {
    font-size:larger;
    color: blue;
    font-weight: 500;
    margin-bottom: 20%;
}

.more{
    color: #fd2075;
}
.character-card{
    width: 0%;
    padding: 0%;
    font-family: arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.character-card img{
    width: 0;
}
.character-card:hover,
.active{
box-shadow: 18rem 15rem 15px 9px rgb(0 0 0/ 25%);
}


.more:hover{
    text-decoration: underline;
    cursor: pointer;
}



